@model ArticleViewModel
@{
    ViewData["Title"] = "Details";
}
<div class="row d-flex justify-content-center">
    <!-- Blog Post Content Column -->
    <div class="col-lg-8 text-center">
        <hr class="hr-1" />
        <!-- Preview Image -->
        <img class="img-responsive" src="@Model.Picture" alt="Picture">
        <hr class="hr-1">
        <form asp-area="Admin" asp-controller="Articles" asp-action="Edit" asp-route-id="@Model.Id" method="post">
            <!-- Post Content -->
            <div class="form-group">
                <label class="font-weight-bold" for="Title">Edit Author</label>
                <select asp-for="Author" class="form-control">
                    <option selected="selected" disabled="disabled">-- Choose Author --</option>
                    @foreach (var name in ViewData["Authors"] as IList<string>)
                    {
                        <option>@name</option>
                    }
                </select>
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Source" class="font-weight-bold" for="Title">Edit Source</label>
                <input asp-for="Source" class="lead font-weight-bold form-control" value="@Model.Source" name="Source">
                <span asp-validation-for="Source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="font-weight-bold" for="Title">Edit Title</label>
                <input class="lead font-weight-bold form-control" name="Title" value="@Model.Title">
            </div>
            <div class="form-group">
                <label asp-for="Content" class="font-weight-bold">Edit Content</label>
                <textarea asp-for="Content" class="form-control" name="Content" rows="6">@Model.Content</textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div>
                <button class="btn btn-secondary" type="submit">Save</button>
                <button class="btn btn-default" onclick="window.history.back()">Back</button>
            </div>
        </form>
    </div>
</div>
