@model StadiumViewModel

@{
    ViewData["Title"] = "Details";
}
<div class="row d-flex justify-content-center">
    <!-- Blog Post Content Column -->
    <div class="col-lg-8 text-center">
        <hr class="hr-1" />
        <!-- Preview Image -->
        <img class="img-thumbnail rounded-circle img-height" src="@Url.Content(Model.Picture)" alt="Picture">
        <hr class="hr-1">
        <!-- Post Content -->
        <h4 class="text-center">@Model.Name</h4>
        <p>@Model.Description</p>
        <div>
            <button class="btn btn-secondary" onclick="window.history.back()">Back</button>
        </div>
    </div>
</div>

@*<div id="circle-shape-example">
    <div class="ml-auto"><img src="@Url.Content(Model.Picture)" alt="A photograph of Stadium" class="curve"></div> <h1>@Model.Name</h1>
    <p>@Model.Description</p>
</div>*@
